
  
  .hiparent-body{
    background:#ffd166;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hiparent-sub{
    background-color: white;
    width: 64vw;
    height: 400px;
    margin-left: 10px;
    text-align: center;
    border-radius: 12px;
  }
  .hiparent-sub .h3 {
    color:#130E5D;
    display: flex;
    align-items: center;
    
  }
  .hiparent-text{
    font-size: 40px;
    font-family: Bubblegum Sans;
  }
  .hiparent-sub{
    color: #130E5D;
  }
  .hiparent-sub p{
    color: #130E5D;
    text-align: left;
    margin-left: 120px;
    font-size: 16px;
    font-family: Quicksand;
    
  }
  .hiparent-sub h4{
    font-size: 22px;
    margin-top: 70px;
    font-family: Bubblegum Sans;
  }
  img{
    width: 37px;
  }
  .text-col{
    margin-top: 40px;
  }
  .hiparent-btn{
    position: relative;
    top: 30px;
  }

  .BackBtn{
    position: inherit;
    right: 230px;
    border:1px solid #FFC107;
    color: #130E5D;
    
  }
  .BackBtn:hover{
    border: 1px solid #FFC107;
    box-shadow: 1px 1px 1px 1px;

  }
  .SignupBtn{
  position: inherit;
  left: 240px;
  background:#ffd166;
  color: #130E5D  ;
  
  }
  .SignupBtn:hover{
    box-shadow: 1px 1px 1px 1px;
    border: 1px solid #ffd166;
    
  }
  