@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,300;0,500;1,300&family=Secular+One&display=swap");

#root {
  max-width: 100%;
  margin: 0 auto;
  font-family: quicksand;
}

.custom-shape-divider-top-1715287324 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1715287324 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 96px;
}

.custom-shape-divider-top-1715287324 .shape-fill {
  fill: #ffe787;
}
.curve {
  position: relative;
}

.custom-shape-divider-bottom-1715288144 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715288144 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 96px;
}

.custom-shape-divider-bottom-1715288144 .shape-fill {
  fill: #ffe787;
}

.custom-shape-divider-top-1715292153 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1715292153 svg {
  position: relative;
  display: block;
  width: calc(272% + 1.3px);
  height: 167px;
}

.custom-shape-divider-top-1715292153 .shape-fill {
  fill: #ffe787;
}

.custom-shape-divider-bottom-1715286013 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715286013 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1715286013 .shape-fill {
  fill: #130e5d;
}
